.pagination {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.pageNumberBox {
  display: flex;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: transparent;
  color: rgb(2, 77, 76);
  border: 1px solid rgb(211, 211, 211);
  border-radius: 2px;
  line-height: 25px;
  padding: 2px 5px 2px 5px;
  cursor: pointer;
  font-size: 14px;
}
.selected {
  background-color: rgb(2, 77, 76);
  color: white;
  cursor: default;
}
.disabled {
  cursor: not-allowed;
}
.arrow {
  color: rgb(2, 77, 76);
}
.rotate180 {
  transform: rotate(180deg);
}

.prevNextBox {
  width: auto;
  padding: 2px 8px 2px 8px;
}
