.categoriesContainer {
  display: flex;
  flex-direction: column;
}
.categoriesBoxesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.categoriesBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 49%;
  font-family: Lato;
  text-transform: uppercase;
}
.dropDownIcon {
  width: auto;
  color: rgb(51, 51, 51);
}
.categoriesSearchBar {
  text-align: center;
  height: 36px;
}

input.categoriesSearchBar::placeholder {
  color: black;
}

.categoriesButton {
  cursor: pointer;
  height: 42px;
  padding: 0px;
  background-color: white;
  outline: none;
}
.categories {
  background-color: black;
  height: 140px;
  display: flex;
  margin-top: 10px;
  align-items: center;
}
.categoryContainer {
  display: block;
  flex: 2;
}
.categoryImage {
  width: 30px;
  height: 30px;
}
.categoryTitle {
  color: white;
  font-size: 12px;
}
.arrow {
  width: 10px;
  height: 10px;
  margin: 10px;
  cursor: pointer;
}
.disabled {
  cursor: not-allowed;
}
.rotate18 {
  transform: rotate(180);
}
.hidden {
  display: none;
}
.weddingIdeasContainer {
  display: flex;
  margin-top: 10px;
}
.weddingIdeas {
  height: 230px;
  width: auto;
  max-width: 100%;
}
.marginTop {
  margin-top: 50px;
}
.overlay {
  background-color: white;
  transition: ease-out 0.35s;
  position: absolute;
  z-index: 1;
}
@media only screen and (min-width: 320px) {
  /* For mobiles */
  .categoriesBox {
    font-size: 9px;
    letter-spacing: 1px;
    font-weight: normal;
  }
  .dropDownIcon {
    height: 10px;
    margin-left: 0px;
  }
  .categoriesBoxesContainer {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 450px) {
  /* For tablet: */
  .categoriesBox {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 4.1px;
  }
  .dropDownIcon {
    height: 30px;
    margin-left: 10px;
  }
}

@media only screen and (min-width: 790px) {
  /* For desktop : */
  .categoriesBoxesContainer {
    margin-top: 60px;
  }
}
