.weddingIdeasContainer {
  display: flex;
  margin-top: 10px;
}
.weddingIdeas {
  height: 230px;
  width: 100%;
  object-fit: cover;
}
.overlay {
  background-color: white;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.homeIcon {
  height: 35px;
  width: 30;
}
.overlayText {
  font-size: 20px;
  font-weight: 600;
}

@media only screen and (min-width: 320px) {
  .weddingIdeasContainer {
    width: 100%;
  }
}
@media only screen and (min-width: 450px) {
  .weddingIdeasContainer {
    width: 49%;
  }
}

@media only screen and (min-width: 790px) {
  .weddingIdeasContainer {
    width: 32%;
  }
}
