.allScreenHeader {
  width: 100%;
  display: flex;
  justify-content: center;
}
.mainAppHeader {
  display: flex;
  max-width: 1100px;
  justify-content: flex-start;
  flex-direction: column;
}
.navBar {
  margin: 15px 0px 0px 0px;
  display: inline-flex;
  align-items: flex-end;
  max-width: 1100px;
  justify-content: center;
  flex-direction: row;
  height: 100px;
  position: relative;
}
.navBarSegment {
  padding: 0px 15px 0px 15px;
  display: inline-flex;
  height: 45px;
  width: 43%;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: relative;
}
.navBarLogo {
  width: 10%;
  margin-right: 15px;
  margin-left: 15px;
}

@media only screen and (min-width: 320px) {
  /* For tablets: */
  .navBarSegment {
    display: none;
  }
  .mainApp {
    width: 98%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .navBar {
    display: inline-flex;
  }
  .navBarSegment {
    display: inline-flex;
  }
  .mainApp {
    width: 92%;
  }
}
