.allScreenHeader {
  width: 100%;
  display: flex;
  justify-content: center;
}
.mainAppHeader {
  display: flex;
  max-width: 1100px;
  width: 92%;
  max-width: 100%;
  justify-content: center;
  flex-direction: column;
  height: 150px;
}

.navBar {
  margin: 15px 0px 0px 0px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-self: center;
  flex-direction: row;
  max-width: 1100px;
  height: 100px;
  position: relative;
}

.navBarSegment {
  padding: 0px 15px 0px 15px;
  display: inline-flex;
  height: 45px;
  width: 43%;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: relative;
}

/* Fixed Header */
.mainAppHeaderFixed {
  transition: all ease 1s;
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 60px;
  max-height: 60px;
}
.navBarFixed {
  width: 100%;
  margin: 0px 0px 0px 50px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  height: 60px;
  position: relative;
}
.navBarSegmentFixed {
  padding: 0px 15px 0px 15px;
  display: inline-flex;
  height: 45px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.navBarLogoFixed {
  height: 50px;
  width: auto;
  margin-right: 15px;
  order: 1;
}

@media only screen and (min-width: 320px) {
  /* For mobiles */
  .mainAppHeaderFixed {
    display: none;
  }
  .navBar {
    height: 60px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .mainAppHeader {
    height: 60px;
    margin-bottom: 20px;
  }
  .burgerIconContainer {
    display: inline;
    margin-right: 20px;
    order: 2;
  }
  .burgerIcon {
    width: 20px;
    height: 20px;
  }
  .navBarLogo {
    height: 40px;
    width: auto;
    order: 1;
    margin: 0px;
  }
  .navBarSegment {
    display: none;
  }
}
@media only screen and (min-width: 450px) {
  /* For tablet: */
  .mainAppHeaderFixed {
    display: none;
  }
  .mainAppHeader {
    height: 120px;
  }
  .adjustWidth {
    font-size: 10px;
    min-width: 60px;
  }
  .navBar {
    display: inline-flex;
    margin: 15px 0px 0px 0px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-self: center;
    flex-direction: row;
    max-width: 1100px;
    height: 100px;
    position: relative;
  }
  .navBarSegment {
    display: inline-flex;
  }
  .burgerIconContainer {
    display: none;
  }
  .navBarLogo {
    width: 10%;
    height: auto;
    margin-right: 15px;
    margin-left: 15px;
    order: 2;
  }
}

@media only screen and (min-width: 790px) {
  /* For desktop : */
  .mainAppHeaderFixed {
    display: block;
  }
  .adjustWidth {
    font-size: 14px;
    min-width: 100px;
  }
  .navBar {
    display: inline-flex;
  }
  .navBarSegment {
    display: inline-flex;
  }
}
