.photoViewContainer {
  display: flex;
  flex-wrap: wrap;
}
.bigPhoto {
  height: auto;
}
.bigPhotoText {
  text-align: start;
  width: 37%;
  padding: 15px 20px;
}
.title {
  margin-bottom: 35px;
  font-weight: 600;
}
.socialMediaContainer {
  width: 100%;
  display: flex;
  margin: 20px 0px 10px 0px;
}
.socialMediaCircle {
  width: 35px;
  height: auto;
  margin: 0px 5px 0px 0px;
}
.link {
  color: #337ab7;
}

@media only screen and (min-width: 320px) {
  /* For mobiles */
  .bigPhoto {
    width: 100%;
  }
  .photoViewContainer {
    flex-wrap: wrap;
  }
  .bigPhotoText {
    width: 100%;
    padding: 0px;
  }
  .socialMediaContainer {
    justify-content: center;
  }
  .title {
    font-size: 25px;
  }
  .photoViewContainer {
    font-size: 18px;
  }
}
@media only screen and (min-width: 450px) {
  /* For tablet: */
  .bigPhoto {
    width: 63%;
  }
  .photoViewContainer {
    flex-wrap: nowrap;
  }
  .bigPhotoText {
    width: 37%;
    padding: 15px 20px;
  }
  .socialMediaContainer {
    justify-content: center;
  }
  .title {
    font-size: 25px;
  }
  .photoViewContainer {
    font-size: 18px;
  }
}

@media only screen and (min-width: 790px) {
  /* For desktop : */
  .socialMediaContainer {
    justify-content: flex-start;
  }
  .title {
    font-size: 35px;
  }
  .photoViewContainer {
    font-size: 25px;
  }
}
