.allBody {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main {
  max-width: 1100px;
  min-width: 300px;
  width: 92%;
  text-align: start;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  align-items: center;
}

.treeNavLink {
  color: #008174;
  text-transform: uppercase;
  text-decoration: none;
}

.treeLabel {
  margin: 0px;
  text-transform: uppercase;
}

.treeArrow {
  height: 100%;
  width: auto;
}
.font {
  font-weight: 600;
}
@media only screen and (min-width: 320px) {
  /* For mobiles */
  .font {
    font-size: 15px;
  }
}
@media only screen and (min-width: 450px) {
  /* For tablet: */
  .font {
    font-size: 18px;
  }
}

@media only screen and (min-width: 790px) {
  /* For desktop : */
}
